*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ======= Nav bar ======== */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}
nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-links ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background-color: tomato;
    margin: auto;
    display: block;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
/* ====== Text area ==== */
.text-box{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: white;
    text-align: center;
}
.text-box h1{
    font-size: 60px;
    font-weight: bold;
}
.text-box p{
    margin: 15px 0 30px;
    font-size: 14px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 12px 40px;
    border: 1px solid white;
    cursor: pointer;
    background: transparent;
}
.hero-btn:hover{
    border: 1px solid tomato;
    background-color: tomato;
    transition: 1s;
}
nav .fas{
    display: none;
}
/*================ Course section======= */
.course{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    
}
h1{
    font-size: 40px;
    font-weight: bolder;
    text-transform: capitalize;
}
p{
    color: #777;
    font-size: 14px;
    padding: 10px;
    line-height: 20px;
    font-weight: 400;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.course-col{
    flex-basis: 31%;
    background-color:#0a3d62;
    color: white;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 50px 12px;
    transition: .5s;
}
.course-col:hover{
    box-shadow: rgb(100, 100, 111) 0px 7px 29px 0px;
}
.course-col h3{
    font-size: 20px;
}
.course-col p{
    color: white;
    text-align: justify;
    margin-top: 20px;
}

/* ====== Campus area ==== */
.campus{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    position: relative;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 1s;  
}
.layer:hover{
    background-color: rgba(255, 60, 0, 0.7);
}
.layer h3{
    width: 100%;
    font-size: 30px;
    font-weight: bolder;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: white;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
/* ========= Facilities ====== */
.facilities{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 50px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin: 15px 0;
    text-align: left;
}
/* ========= Testimonuial ======= */
.testimonial{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    display: block;
}
.testi-col{
    flex-basis: 44%;
    border-radius: 10px;
    display: flex;
    margin-bottom: 5%;
    padding: 25px;
    text-align: left;
    cursor: pointer;
    background-color: rgb(226, 211, 184);
    
}
.testi-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;

}
.testi-col p{
    padding: 0;
}
.testi-col h3{

    margin-top: 15px;
    text-align: left;
}
.testi-col i{
    color:tomato;
}

/* === Call to action ==== */
.cta{
    width: 80%;
    margin: 100px auto;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/banner2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
    text-align: center;
    border-radius: 10px;
}
.cta h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
}
/* === Footer ==== */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin: 20px 0;
    font-weight: bolder;
}
.icon i{
    margin-right: 15px;
    font-size: 20px;
    margin-top: 10px;
    color: tomato;
}


/* ============================ About page CSS ======================= */
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.sub-header h1{
    color: white;
    margin-top: 60px;
}

/* about us area */
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
    text-transform: capitalize;
}
.about-col p{
    padding: 20px 0 25px;
}
.red-btn{
    border: 1px solid tomato;
    color: tomato;
}
.red-btn:hover{
    color: white;
}



/* Blog area ====== */
.blog-area{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 100%;
}
.blog-left h2{
    color: #222;
    font-weight: bold;
    margin: 30px 0;
}
.blog-left p{
    color: #999;
    padding: 0;
}

.blog-right{
    flex-basis: 32%;

}
.blog-right h3{
    background-color: tomato;
    padding: 7px 0;
    font-size: 16px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;

}
.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}
.comment-box{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin: 50px 0;

}
.comment-box h3{
    text-align: left;
}
.comment-form input,textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: #f0f0f0;
    resize: none;
    border-radius: 5px;
}
.comment-form button{
    margin: 20px 0;
}